<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="ToDoList" switchName="ToDoListSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
          <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- 
        Trace levels: 
        Off = 0, Critical = 1, Error = 2, Warning = 3, Information = 4, Verbose = 5, All = 6
        Set the value to the desired level
      -->
      <add name="ToDoListSwitch" value="All" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
